<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <article class="flex items-center justify-between my-6">

    <section class="flex">
      <%= link_to(
        render(ImageComponent.new(
          image: variant.gallery.images.first || variant.product.gallery.images.first,
          size: :small
        )),
        variant.product,
        class: 'h-32 w-32 mr-4'
      ) %>

      <div class="flex flex-col">
        <%= render(
          'orders/item_info',
          line_item: line_item,
          variant: variant,
          classes: ['cart-item__info']
        ) %>


        <div>
        <%= item_form.text_field :quantity, type: 'number', min: 0, class: "input" %>

        <%= order_form.submit(
          'Remove',
          class: 'link link-error',
          id: "delete_#{dom_id(line_item)}",
          data: { disable_with: 'Remove' }
        ) %>
        </div>
      </div>

    </section>

      <div>
      <%= line_item.single_money.to_html %>
      </div>

    <strong><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></strong>
  </article>

  <div class="divider"></div>
<% end %>
