<% @body_id = 'login' %>

<article class="flex flex-col min-h-screen sm:justify-center items-center mt-10 sm:mt-0" id="existing-customer">
  <div class="card bg-base-100 border border-gray-700 p-4 sm:p-10 w-full lg:max-w-xl sm:max-w-md overflow-hidden">
  <h1 class="font-semibold text-lg"><%= I18n.t('spree.login_as_existing') %></h1>

  <%= form_for Spree::User.new, as: :spree_user, url: create_new_session_path, html: { class: "auth-form" } do |f| %>
    <div class="my-4">
      <%= f.label :email, "#{t("spree.email")}:", class: "mb-2" %>
      <%= f.email_field :email, placeholder: 'name@example.com', class: "input input-bordered w-full"%>
    </div>

    <div class="my-4">
      <%= f.label :password, "#{t("spree.password")}:", class: "mb-2" %>
      <%= f.password_field :password, placeholder: "p455w0rd", class: "input input-bordered w-full"%>
    </div>

    <div class="my-4">
      <%= f.check_box :remember_me, tabindex: 3, class: "checkbox checkbox-primary" %>
      <%= f.label :remember_me, I18n.t("spree.remember_me") %>
    </div>

    <div class="my-4">
      <%= f.button(
        t("spree.login"),
        class: 'btn btn-primary btn-block',
        name: :commit
      ) %>
    </div>

    <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.create_a_new_account"), signup_path, class: "link" %> | <%= link_to I18n.t("spree.forgot_password"), recover_password_path, class: "link" %>
  <% end %>
  </div>
</article>
