<div class="flex justify-between items-center border-b-[0.01rem] border-zinc-700 bg-base-100 px-4 py-4 sm:px-20 md:px-28 lg:px-44">

  <%= link_to 'Marius Armory', root_path, class: 'font-logo text-3xl select-none' %>

  <div class="hidden sm:block text-2xl">
    <% if spree_current_user %>
      <%= link_to '', account_path, class: 'fa fa-user' %>
    <% else %>
      <%= link_to '', login_path, class: 'fa fa-user' %>
    <% end %>

    <%= link_to '', edit_cart_path, class: 'fa fa-shopping-cart ml-4' %>
  </div>

  <div id="nav-dropdown" class="block sm:hidden dropdown dropdown-end">
    <label tabindex="0"><i class="fa fa-bars text-xl"></i></label>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 z-10 text-2xl">
      <% if spree_current_user %>
        <li>
          <%= link_to '', account_path, class: 'fa fa-user' %>
        </li>
      <% else %>
        <li>
          <%= link_to '', login_path, class: 'fa fa-user' %>
        </li>
      <% end %>

        <li>
          <%= link_to '', edit_cart_path, class: 'text-2xl fa fa-shopping-cart' %>
        </li>
    </ul>
  </div>

  <script>
    Solidus.fetch_cart('<%= j cart_link_path %>')
  </script>
</div>
