<!doctype html>
<html lang="<%= I18n.locale %>" data-theme="halloween">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= csrf_meta_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%= javascript_include_tag 'solidus_starter_frontend', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield :head %>
  </head>
  <body class="bg-primary-content" id="<%= @body_id || 'default' %>" data-turbo="false">
    <%= render 'layouts/header', taxons: @taxons, taxon: @taxon %>
    <main class="mx-4 my-10 sm:mx-20 md:mx-28 lg:mx-44 min-h-screen">
      <%= flash_messages %>
      <%= render BreadcrumbsComponent.new(@taxon) %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
